  <div class="bckgrnd1">
    <%= image_tag("backgroundshop.png") %>
  </div>
  <div class="form">
	<% unless current_user %>
		<%= link_to "Sign Up", new_user_registration_path %>
		<%= link_to "Log In", new_user_session_path %>
		<%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %>
	<% else %>
		<%= link_to "Log out", destroy_user_session_path, method: :delete %>
	<% end %>
  </div>
